.activity-input > h1{
    display: none;
}

.activity-input > form{
    display: block;
}

.activity-input.max > h1{
    display: block;
}

.activity-input.max > form{
    display: none;
}

.box-input > small{
    display: none;
}

.box-input.error > small{
    display: block;
    color: #ff3e3e;
}

.box-input.error > input{
    border: solid 4px #ff3e3e;
}