.exp-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    background-image: radial-gradient(#ffffff 1.5px, transparent 1.5px), radial-gradient(#ffffff 1.5px, transparent 1.5px);
    background-size: 45px 45px;
    background-position: 0 0, 22.5px 22.5px;
    background-color: #c4ddff;
    color: #001D6E;
}

.exp-container > h1{
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
}

.exp-input > h1{
    display: none;
}

.exp-input > form{
    display: block;
}

.exp-input.max > h1{
    display: block;
}

.exp-input.max > form{
    display: none;
}

.box-input > small{
    display: none;
}

.box-input.error > small{
    display: block;
    color: #ff3e3e;
}

.box-input.error > input{
    border: solid 4px #ff3e3e;
}