/* Home page */

.Main-page{
    background-color:#C4DDFF;
    height: 100vh;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color:#001D6E;
}

.Main-page h1{
    font-size: 5rem;
    margin: 0;
    font-weight: bold;
    text-shadow: 4px 4px 2px #FFFFFF;
}

.Start-btn{
    position: relative;
    border: 5px solid;
    margin: 1rem;
    font-size: 2rem;
    width: 12rem;
    height: 4rem;
    color: #001D6E;
    font-weight: bold;
    border-radius: 20px;
    background-color: #FEE2C5;
    cursor: pointer;
}

.Start-btn:hover{
    background-color: #fee2c500;
}

.Format-page1-container{
    background-color: #001D6E;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Format1-detail{
    padding: 20px;
    display: flex;
    flex-direction: column;
    color:#C4DDFF;
    align-items: center;
    justify-content: center;
}

.Format1-For-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Example-format1-btn{
    cursor: pointer;
    width: 12rem;
    height: 5rem;
    border: none;
    border-radius: 12px;
    color: #001D6E;
    font-size: 2rem;
    font-weight: bold;
    background-color: #7FB5FF;
    transition: all 0.5s ease;
}

.Format-page2-container{
    background-color: #7FB5FF;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Format2-detail{
    padding: 20px;
    display: flex;
    flex-direction: column;
    color:#001D6E;
    align-items: center;
    justify-content: center;
}

.Format2-For-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Example-format2-btn{
    width: 12rem;
    height: 5rem;
    border: none;
    outline: none;
    border-radius: 12px;
    color: #C4DDFF;
    font-size: 2rem;
    font-weight: bold;
    background-color: #001D6E;
    transition: all 0.5s ease;
    cursor: pointer;
}

.Example-format1-btn:hover ,.Example-format2-btn:hover{
    transform: translate(-10px,-10px);
    box-shadow: 5px 5px #FEE2C5,10px 10px #FFFFFF;
}

@media screen and (max-width: 440px){
    .Main-page h1{
        font-size: 4rem;
    }
    .Main-page h2{
        font-size: 1.2rem;
    }
    .Example-format1-btn ,.Example-format2-btn{
        width: 8rem;
        font-size: 1.2rem;
    }
}

/* Sign In page */

.SignIn-page-container{
    height: 92vh;
    background-color: #FFDEB4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SignIn-page-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-signin{
    background-color: #FFB4B4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 1rem;
    width: 30rem;
    height: 16rem;
    border-radius: 30px;
    box-shadow: 10px 10px #ffffff;
}

.box-signin h3{
    font-size: 1.4rem;
    font-weight: bold;
    color: #FFF9CA;
    margin-bottom: 1rem;
}

.signin-input{
    border: none;
    border-radius: 20px;
    padding-left: 1rem;
    height: 2rem;
    width: 60%;
    background-color: #FFF9CA;
    outline: none;
}

.signin-input:focus{
    border: 3px solid #FFDEB4;
}

.header-text{
    font-weight: bold;
    color: #ff6a6a;
    text-shadow: 2px 2px #ffffff;
}

.signin-btn{
    margin: 1.5rem;
    border: none;
    width: 8rem;
    height: 3rem;
    background-color: #ff6a6a;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFDEB4;
    cursor: pointer;
    transition: all 0.5s ease;
}

.signin-btn:hover{
    transform: translate(-10px,-10px);
    box-shadow: 5px 5px #f0f0f0,10px 10px #FFFFFF;
}

.signup-page-btn{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    transition: all 1s ease;
}

.signup-page-btn:hover{
    transform: translate(-1.5rem);
}

.signup-page-btn:hover:after{
    content: 'yes,I want.';
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 10px;
    z-index: -1;
    background-color: #ff6a6a;
}

.incorrect-input{
    visibility: hidden;
    margin-top: 1rem;
    color: #ff6a6a;
}

@media screen and (max-width: 520px){
    .box-signin{
        width: 20rem;
    }
    .signup-page-btn:hover{
        transform: translate(-0.5rem);
    }
}

@media screen and (max-width: 430px){
    .box-signin{
        width: 14rem;
    }
}

/* foot page */

.foot-container{
    height: 8vh;
    background-color: #FFB4B4;
    box-shadow: 0px -5px #FFFFFF;
}

